* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: #f0f4f5;
    max-width: 1300px;
    margin: auto;
}

nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

nav img {
    width: 160px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child a {
    font-weight: 700;
    color: #20bc7e;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    width: 50%;
}

.left-side {
    position: relative;
    margin: 0 4%;
}

.topangle {
    width: 25px;
}

.left-side h1 {
    font-size: 60px;
}

.left-side p {
    color: #7c7c7c;
    font-size: 16px;
    margin: 20px 0;
}

.bottomAngle {
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope {
    width: 90%;
    position: absolute;
    right: -30%;
    bottom: -25%;
    z-index: -1;
}

.mouse {
    position: absolute;
    right: -30px;
    bottom: -50px;
}

.left-side button {
    padding: 10px 20px;
    background-color: #20bc7e;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.left-side button:hover {
    color: #20bc7e;
    background-color: white;
    border: 2px solid #20bc7e;
    transition: .4s;
}

.greenBox,
.yellowBox {
    position: absolute;
    right: 0;
}

.greenBox {
    width: 30%;
    bottom: 30px;
}

.yellowBox {
    width: 25%;
    bottom: 30px;
}

.doctor {
    height: 91%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media screen and (max-width: 1022px){
    .stethoscope {
        width: 400px;
        position: absolute;
        right: -30%;
        top: 50px;
        z-index: -1;
    }

    .mouse {
        position: relative;
        right: -290px;
        bottom: 7px;
    }
}

@media screen and (max-width: 880px) {
    .stethoscope {
        width: 300px;
        position: absolute;
        right: -30%;
        top: 90px;
        z-index: -1;
    }

    .mouse {
        position: relative;
        right: -200px;
        bottom: 7px;
    }
    .greenBox {
        width: 37%;
        bottom: 30px;
    }
    
    .yellowBox {
        width: 30%;
    }
    
    .doctor {
        height: 81%;
    }
}

@media screen and (max-width:786px) {
    .left-side h1 {
        font-size: 30px;
    }

    .left-side p {
        font-size: 12px;
        margin: 20px 0;
    }
}

@media screen and (max-width:643px) {
    .left-side button {
        padding: 7px 18px;
        font-size: 14px;
        font-weight: 500;
    }

    .stethoscope {
        width: 350px;
        position: absolute;
        right: -30%;
        top: 0;
        z-index: -1;
    }

    .mouse {
        position: absolute;
        right: -30px;
        bottom: -10px;
    }

    .greenBox {
        width: 40%;
        bottom: 30px;
    }

    .yellowBox {
        width: 35%;
        bottom: 30px;
    }

    .doctor {
        height: 71%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

@media screen and (max-width:497px) {
    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        margin-left: 10px;
        display: flex;
    }

    nav ul li {
        padding: 10px;
        margin-right: 10px;
        font-weight: 500;
        font-size: 13px;

    }

    nav img {
        width: 100px;
    }

    nav ul li:nth-child(2) a {
        font-weight: 600;
        color: #20bc7e;
    }

    .topangle {
        position: absolute;
        left: -20px;
    }

    .bottomAngle {
        position: absolute;
        right: 50px;
    }

    .doctor{
        z-index: -1;
    }
    .greenBox {
        width: 60%;
        z-index: -1;
    }

    .yellowBox {
        z-index: -1;
        width: 50%;
    }

    main .left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .left-side {
        margin: 0 6px;
    }

}