*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

body{
    background-color: #f0f4f5;
    max-width: 1300px;
    margin: auto;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

nav img{
    width: 160px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child a {
    font-weight: 700;
    color: #20bc7e;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

main{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section{
    width: 50%;
}

.left-side{
    position: relative;
    margin: 0 4%;
}

.topangle{
    width: 25px;
}

.left-side h1{
    font-size: 60px;
}

.left-side p{
    color: #7c7c7c;
    font-size: 16px;
    margin: 20px 0;
}

.bottomAngle{
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope{
    width: 90%;
    position: absolute;
    right: -30%;
    bottom: -25%;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom: -50px;
}

.left-side button{
    padding: 10px 20px;
    background-color: #20bc7e;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.left-side button:hover{
    color: #20bc7e;
    background-color: white;
    border: 2px solid #20bc7e;
    transition: .4s;
}

.greenBox,.yellowBox{
    position: absolute;
    right: 0;
}

.greenBox{
    width: 30%;
    bottom: 30px;
}

.yellowBox{
    width: 25%;
    bottom: 30px;
}

.doctor{
    height: 91%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}