*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* box-sizing: border-box; */
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.first-container{
    width: 360px;
    padding-top: 40px;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 1px;
    border: 1px solid rgb(221, 221, 221);
}

.first-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-container form input{
    width: 260px;
    margin-top: 10px;
    padding: 9px 0 9px 8px;
    outline: none;
    border: solid 1px #a9a9a9;
    background-color: #FAFAFA;
    border-radius: 1px;
}

.first-container form button{
    padding: 10px 115px;
    margin-top: 20px;
    background-color: #4BB4F8;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.first-container a{
    color: #356089;
    font-weight: 300;
    text-decoration: none;
    font-size: 17px;
}

.second-container{
    width: 360px;
    height: 70px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container a{
    margin-left: 10px;
    text-decoration: none;
    color: #17a2ff;
}