* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.img1 {
    background-image: url(/images/image1.png);
    min-height: 100vh;
}

.img2 {
    background-image: url(/images/image2.png);
    min-height: 400px;
}

.img3 {
    background-image: url(/images/image3.png);
    min-height: 400px;
}

.img1,
.img2,
.img3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.text span {
    font-size: 40px;
    padding: 20px;
    font-weight: 300;
    letter-spacing: 8px;
    color: white;
}

.bg-dark{
    background-color: #313534;
}

.bg-light{
    background-color: transparent;
}

.section {
    padding: 50px 80px;
    text-align: center;
}

.section h1 {
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.light-section {
    background-color: #f4f4f4;
    color: #666;
}

.dark-section {
    background-color: #282e34;
    color: #ddd;
}